{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/prettier",
  ],
  "rules": {
  	"complexity": ["error", { "max": 10 }],
    "max-len": "off",
    "babel/object-curly-spacing": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
  }
}
